<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body> -->
	<h4> Cảm ơn bản đã mua hàng tại <b style="color: red">Tinh Pham Store</b> nhân viên sẽ liên hệ với bạn trong vài phút tới... Xin cảm ơn !! </h4>
	<!-- <div class="content" style="background: #222; border-radius: 12px; padding: 15px; width: 700px; margin: auto;" >
			<div style="background: cadetblue;padding: 15px;">
				<h4 align="center"> <b>Tính Phạm Store</b></h4>
				<h4>Thông Tin Khách Hàng</h4>
				
				<p>Mã Đơn Hàng:<strong> {{$code['order_code']}} </strong> </p>
				<p>Email: 
					@if($shipping_array['shipping_email']==' ')
						<span>Không Có </span>
					@else
						<span>{{$shipping_array['shipping_email']}}</span>
				</p>
				<p>Họ Tên Người Gửi
					@if($shipping_array['shipping_name']==' ')
						<span>Không Có </span>
					@else
						<span>{{$shipping_array['shipping_name']}}</span>
				</p>

				<p>Địa Chỉ Nhận Hàng:
					@if($shipping_array['shipping_address']==' ')
						<span>Không Có </span>
					@else
						<span>{{$shipping_array['shipping_address']}}</span>
				</p>
				<p>Số điện thoại nhận hàng:
					@if($shipping_array['shipping_phone']==' ')
						<span>Không Có </span>
					@else
						<span>{{$shipping_array['shipping_phone']}}</span>
				</p>

				<p>Ghi Chú đơn hàng: 
					@if($shipping_array['shipping_notes']==' ')
						<span>Không Có </span>
					@else
						<span>{{$shipping_array['shipping_notes']}}</span>
				</p>
				
			</div>

		
	</div> -->
<!-- </body>
</html> -->